<div class="navbar-inner">
  <% if signed_in? %>
    <a class="brand" href="#">Welcome, <%= current_user.name %></a>

    <ul class="nav">
      <% if permitted_to? :create, :web_pages %>
        <li><%= link_to 'Create Post', new_web_page_path %></li>
      <% end %>
    </ul>
  <% else %>

    <a href="/auth/twitter" style="margin-left:10px;margin-bottom: 1px;">
      <img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" 				title="Sign in with Twitter">
    </a>

  <% end %>
</div>

