


 <p>ruby4kids is a computer club consisting of a tech parent, a few volunteers and six kids. We get together Saturday afternoons to have fun while learning how to program.</p>
  <p>If you are a tech parent, thi is a great way to spend Saturday afternoons with your son or daughter, and their friends</p>
  <p>Become the cool parent while teaching them a valuable skill.</p>
  <p>We have covered ruby, Gosu, NXC for Mindstorms, iOS, and are now tackling Rails.</p>
  <p>Contact us to help you get started.</p>


