


<h1>Programming for the fun of it</h1>

<h2> Do you want to write your own computer games?</h2>


<h3>Ruby</h3>
<p>
  With Ruby and gosu gem you can do it. It is fairly easy to get going.
  Follow our examples and have a game going in minutes!
</p>

<h3>IOS - iphone games</h3>
<p>
  Ready for more? Try to program some sample games for the iPhone. We have a few samples
  for you to get going.
</p>

<h3>And don't forget ...</h3>
<p>Have fun along the way!</p>


